.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-container {
  display: flex;
  flex: 1;
  background-color: #fafafa;
}

.main-content {
  flex: 1;
  padding: 1rem 2rem;
  overflow-y: auto;
}
